@page "{id:int}"
@model Emf.Pages.Employees.DeleteModel

@{
    ViewData["title"] = "Delete Confirmation";
}

<h2>Delete Confirmation</h2>
<div class="alert alert-danger">Are you sure you want to delete @Model.Employee.FirstName @Model.Employee.LastName?</div>
<form method="post">
    <button class="btn btn-success">Yes</button>
    <a asp-page="List" class="btn btn-default">Cancel</a>
</form>
